/* Eliminar márgenes y padding por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hacer que el body ocupe todo el alto de la pantalla */
body, html {
  height: 100%; /* Asegura que el body ocupe toda la altura */
  overflow: hidden; /* Evitar barras de desplazamiento */
}

/* Estilo para el canvas donde se dibuja el juego */
canvas {
  width: 100%;   /* El canvas ocupa el 100% del ancho */
  height: 100vh; /* 100vh significa que el alto será el 100% de la ventana */
  display: block; /* Eliminar el espacio extra alrededor del canvas */
  background-color: #000; /* Fondo negro por defecto */
}

/* Estilo global para centrar el contenido */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
